/*
  ~ Jennifer Walker © 2018 ~
  ★ Created for jenerational.github.io ★
       _   _____  __         __
      | | / ____| \  \  /\  /  /   _   _  _  ___ ___
  __  | | \___  \  \  \/  \/  /\  | | | |/ /| __| __ \
  \ \_/ /  ___) |   \   /\   /  \ | |_|   < | __|    /
   \___/  |_____/    \_/  \_/_/\_\|___|_|\_\|___|_|\_\
*/


/* GENERAL BODY
------------------------*/ 
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body,
html {
  background: white;
}

/* -- CONTENT -- */ 

.content {
  vertical-align: top;
  position: relative;
  padding-left: 5px; 
  padding-right: 5px; 
  padding-top: 5px; 
  height: 100vh;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 600px;
  background-color: white; 
}

.content .img-container {
    display: inline-block; 
    vertical-align: top;
    float: center; 
    position: relative;
    overflow: hidden;
    height: 350px;
    width: auto;
    min-width: 200px; 
    max-width: 600px; 
    margin: 2.5px;
    margin-right: 2.5px; 
    margin-left: 2.5px; 
    padding: 0; 
    transition: .5s;
}

@media (min-width: 600px) {
  .content .img-container {
    width: 49.15%;
  }
}

@media (min-width: 1000px) {
  .content .img-container {
    width: 32.825%;
  }
}


.content .img-container img {
  display: inline-block;
  vertical-align: left; 
     object-fit: cover;
  width: 102%;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  transition: .5s;
  will-change: transform;
  /*min-width: 100%;*/
  min-height: 100%;
  height: auto;  
  /*left: 50%;
  top: 50%;*/
} 

.content .img-container p {
	text-transform: (0%, -50%);
	color: white; 
}

.img-container:hover img {
    z-index: -1;
    -webkit-filter: brightness(40%) blur(3px);
            filter: brightness(40%) blur(3px);
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }

@media screen and (min-device-width: 1024px) {
  .img-container figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  color: white;
  opacity: 0;
  transition: .5s;
  width: 70%;
  text-align: center;
  }

  .img-container:hover figcaption h1:after {
      content: " ";
      width: 0%;
      position: absolute;
      border-bottom: 3px solid white;
      left: 50%;
      bottom: 0%;
      transition: .5s;
  }

  .img-container:hover figcaption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    z-index: 1;
  }

  .img-container:hover figcaption h1::after {
    width: 100%;
    left: 0%;
    bottom: -15%;
  }
}

/* FIG CAPTION ALWAYS ON FOR MOBILE DEVICES */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .img-container figcaption {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    width: 70%;
    text-align: center;
    opacity: 1;
    filter: blur(0px);
  }

  .img-container figcaption h1 {
    border-bottom: 3px solid white;
  }
} /* IPAD */

@media only screen and (min-device-width : 375px) and (max-device-width : 812px)and (-webkit-device-pixel-ratio : 3) { 
  .img-container figcaption {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    width: 70%;
    text-align: center;
    opacity: 1;
    filter: blur(0px);
  }

  .img-container figcaption h1 {
    border-bottom: 3px solid white;
  }
} /* IPHONE X */

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
  .img-container figcaption {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    width: 70%;
    text-align: center;
    opacity: 1;
    filter: blur(0px);
  }

  .img-container figcaption h1 {
    border-bottom: 3px solid white;
    font-size: 3em; 
  }
} /* IPHONE 6 7 8 */

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  .img-container figcaption {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    width: 70%;
    text-align: center;
    opacity: 1;
    filter: blur(0px);
  }

  .img-container figcaption h1 {
    border-bottom: 3px solid white;
  }
 } /* IPHONE 6 7 8 PLUS */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
  .img-container figcaption {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    width: 70%;
    text-align: center;
    opacity: 1;
    filter: blur(0px);
  }

  .img-container figcaption h1 {
    border-bottom: 3px solid white;
  }
} /* IPHONE 5 & 5S */

/* END FIGCAPTION SPECIICS */


.img-container figcaption h1 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'Staatliches', sans-serif; 
  text-decoration: none; 
  letter-spacing: 8px;
  font-size: 2em; 
}

.text-hover-img figcaption p {
  line-height: 1.5em;
  font-family: 'Staatliches', sans-serif; 
  letter-spacing: 5px;
  margin-top: 10px; 
}





